!!!
%html
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Middleman"
    %link{:href => "//fonts.googleapis.com/css?family=Lato:300,400", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "//fast.fonts.net/cssapi/9bad8a53-e487-496d-a55b-e4638c704f94.css", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag :site
    = javascript_include_tag 'vendor/jquery-2.2.4.min.js'
    = javascript_include_tag :all
  %body{:class => page_classes}
    = yield
    = javascript_include_tag 'vendor/threejs/three.min.js'
    = javascript_include_tag 'vendor/threejs/Projector.js'
    = javascript_include_tag 'vendor/threejs/CanvasRenderer.js'
    = javascript_include_tag 'vendor/threejs/Bird.js'
    = javascript_include_tag :flock
